/* ----------------------------------- Main CSS --------------------------------------------- */

* {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Lexend, sans-serif;
  background-color: #F9F7F2;

}

#root {
  height: 100vh;
  width: 100vw;
}

.container {
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  width: fit-content;
  margin: auto;
  background-color: #271c47;
  padding: 1rem;
  border-radius: 0.4rem;
}

/* ----------------------------------- FORM CSS --------------------------------------------- */

.form-flex {
  display: flex;
  flex-direction: column;
}

.form-flex>img {
  width: 8rem;
  align-self: left;
  margin-bottom: 2rem;

}



.label-wrapper {
  display: inline-block;
  width: 6.2rem;
  align-items: flex-end;
}

.form-label {

  width: fit-content;
  background-color: #7D1F70;
  color: #F9F7F2;
  padding: 0.3rem;
  border-radius: 0.2rem;
  font-size: 0.8rem;


}

.form-input {
  margin: 0.4rem;
  width: 50%;
  border-radius: 0.2rem;
  background-color: #F9F7F2;
}

.form-item>button {
  margin-top: 0.3rem;
  background-color: #f25650;
  color: #F9F7F2;
  border: 0px;
  border-radius: 0.2rem;
  padding: 0.2rem;

}

.form-item>button:hover {
  background-color: #FFA900;

}

.form-item>button>img {
  width: 1.3rem;
  padding-right: 0.3rem;
  margin: 0 auto;
}



/* ----------------------------------- Feedback --------------------------------------------- */
.feedback {
  color: white;
  border-radius: 0.2rem;
  float: right;
  font-size: 0.8rem;
  width: fit-content;
  padding: 0.2rem;
  margin-left: 2rem;
  margin-top: 0.3rem;
}

.error-message {
  background-color: #dc3545;

}

.success-message {
  background-color: #28a745;

}

.message-toggle {
  font-size: 0.8rem;
  color: white;
  background-color: inherit;
  border: 0px;

}

@media only screen and (max-width: 600px) {
  * {
    font-size: 12px;
  }
}


@media only screen and (max-width: 400px) {
  * {
    font-size: 8px;
  }
}